.account {
  background: #e9ebee;
}

.account-container {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem auto;
}

.account__sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 2 28rem;
  min-width: 25rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.account__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0 2rem 0;
}

.account__profile > img {
  width: 13rem;
  height: 13rem;
  border-radius: 50rem;
  margin-bottom: 1.3rem;
}

.account__profile > span {
  font-size: 1.5rem;
  font-weight: 700;
}

.account__menu {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 0.2rem 1rem;
  box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.15);
  border-radius: 0.3rem;
}

.account__title {
  font-weight: 700;
  color: #ad9388;
  padding: 1.8rem 0 1.6rem 0;
  border-bottom: 0.1rem solid #e0e0e0;
}

.account__item {
  margin: 0.5rem 0;
}

.account__link {
  color: #0082e6;
  font-weight: 500;
  padding: 0.5rem 0;
  border-bottom: 0.1rem solid #e0e0e0;
  cursor: pointer;
}

.account__link:hover {
  color: #3e5cc9;
  background: #f6f7fa;
  padding-left: 0.2rem;
}

.account__link:last-of-type {
  border: none;
}

.account__link-admin {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.account__content {
  display: flex;
  flex-direction: column;
  flex: 2 1 10rem;
  min-width: 50rem;
}

.account__panel {
  position: relative;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem 1rem;
  box-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.15);
  border-radius: 0.3rem;
}

.account__panel-title {
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: #e9ebee 0.1rem solid;
}

.account__panel-body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.account__panel-image {
  display: flex;
  justify-content: center;
  width: 20rem;
  margin-right: 2rem;
}

.account__panel-image > img {
  width: 16rem;
  height: 16rem;
  border-radius: 50rem;
}

.account__panel-data > p {
  margin: 1.6rem 0;
}

.account__panel-data p > a {
  color: #0082e6;
}

.account__panel-data p > a:hover {
  text-decoration: underline;
}

.account__panel-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  height: max-content;
  max-width: 15rem;
  border: 1px solid hsl(0, 0%, 93.3%);
  box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.05);
  border-radius: 0.6rem;
  font-size: 1.3rem;
}

.account__panel-stats > span {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 0.8rem;
}

.account__panel-field--name {
  display: inline-block;
  min-width: 7rem;
  color: #807775;
}

.accout__panel-action {
  color: #0082e6;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  padding: 1.8rem 1rem;
  border-top: #e0e0e0 solid 0.1rem;
}

.accout__panel-action:hover {
  background: #f6f7fa;
}

@media only screen and (max-width: 1020px) {
  .account-container {
    flex-direction: column;
  }

  .account__sidebar {
    margin: 0;
    margin-bottom: 2.5rem;
    flex: 0;
  }
}

@media only screen and (max-width: 730px) {
  .account__panel-body {
    flex-direction: column;
    min-height: 50rem;
    justify-content: space-between;
  }

  .account__content {
    min-width: 30rem;
  }
}

/* SETTINGS */

.settings__panel {
  display: flex;
  flex-direction: column;
  background: #e4f1f9;
  padding: 2.5rem;
  border-radius: 0.3rem;
}

.settings__title {
  font-size: 2.1rem;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
}

.settings__title:first-of-type {
  margin-top: 0;
}

.settings__info {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 2.5rem;
  box-shadow: 1px 1px 3px 1px hsla(0, 0%, 0%, 0.13);
  border-radius: 0.3rem;
  font-size: 1.4rem;
}

.settings__info-container {
  display: flex;
  align-items: center;
  margin: 0.8rem 0;
}

.settings__info-group {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}

.settings__label {
  display: inline-block;
  width: 12rem;
}

.settings__info-group--password {
  width: 100%;
}

.settings__input {
  font-size: 1.4rem;
  width: 70%;
  padding: 0.7rem;
  background: transparent;
  outline: none;
  border: 0.1rem solid hsl(0, 0%, 73.3%);
  border-radius: 0.6rem;
}

.settings__input:hover {
  border-color: hsl(0, 0%, 53.3%);
}

.settings__input[type='date'] {
  width: max-content;
}

.account__btn {
  width: max-content;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
}

.settings__model {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 80rem;
  min-width: 30rem;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.settings__model.open {
  display: flex;
}

.settings__info-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #ffffff;
  border: 0.1rem solid #222;
  transform: translate(1rem, -1rem);
  cursor: pointer;
}

.settings__info-close > svg {
  font-size: 2rem;
}

.settings__info-warn {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.settings__btn {
  width: max-content;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  font-size: 1.4rem;
  font-weight: 900;
}

.settings__info-address {
  font-size: 1.4rem;
}

.settings__info-address--item {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 0.1rem solid #70707075;
}

.settings__info-address--item > h4 {
  margin-bottom: 0.3rem;
}

.settings__info-address--item > p {
  margin-bottom: 0.3rem;
}
