/***********/
/* RESETS */
/*********/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/******************/
/* GLOBAL Styles */
/****************/

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font: 1.6rem 'Roboto', sans-serif;
  color: #302e2d;
  cursor: default;
}

.page {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 1fr 23rem;
  /* height: 100%; */
}

/*******************/
/* UTILITY Styles */
/*****************/

.btn {
  padding: 0.4rem 1.6rem;
  border: 1px solid transparent;
  outline: none;
  background: transparent;
  color: transparent;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  border: 0.1rem solid #ffffff;
  border-radius: 5rem;
}

.btn-secondary {
  color: #3065d0;
  border: 0.1rem solid #3065d0;
  border-radius: 0.4rem;
  outline: none;
  background: transparent;
  overflow: hidden;
  cursor: pointer;
}

.btn-secondary:hover {
  background: #e0e0e05b;
}

.btn-emag {
  text-align: center;
  color: #ffffff;
  background: linear-gradient(
    to right,
    hsl(228.9, 49%, 52.4%) 10%,
    hsl(212.7, 72.9%, 55.1%)
  );
  border: none;
  outline: none;
  border-radius: 0.4rem;
  padding: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.btn-emag:hover {
  background: linear-gradient(
    to right,
    hsl(228.9, 54.8%, 42.5%) 10%,
    hsl(212.7, 72.3%, 45.3%)
  );
}

.btn-s {
  display: inline-block;
  color: #3065d0;
  font-size: 1.5rem;
  padding: 0.4rem 0.7rem;
  margin: 0 0.5rem;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.cta {
  color: #302e2d;
  padding: 1.2rem 1.6rem;
  background: #ffffff;
  border-radius: 0.4rem;
}

.cta:hover {
  color: #0082e6;
}

.wrapper {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.notfound > img {
  max-height: 55rem;
}

.m-b1 {
  margin-bottom: 1rem;
}

.m-t1 {
  margin-top: 1rem;
}

.m-l4 {
  margin-left: 4.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.overlay.open {
  display: block;
}

/*****************/
/* HEADER Syles */
/***************/

.header {
  grid-area: header;
  width: 100%;
  height: 10rem;
  background: #f7f7f7;
  position: sticky;
  top: 0%;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #302e2d;
  height: 66%;
}

.header__branding {
  display: inline-block;
  height: 3.6rem;
}

.header__branding > img {
  width: 13rem;
  object-fit: contain;
}

.header__nav-container {
  display: block;
}

.header__nav {
  display: flex;
}

.header__nav-icon {
  width: 3.7rem;
  height: 3.7rem;
  object-fit: cover;
  border-radius: 50rem;
  margin-right: 1rem;
}

.header__nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1rem 1.5rem;
  list-style: none;
  padding: 1rem 0;
  transition: transform 300ms;
}

.header__nav-item:last-of-type {
  margin-right: 0;
}
.header__nav-item:first-of-type {
  margin-left: 0;
}

.header__nav-link {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.6rem;
  text-decoration: none;
  color: #565656;
  font-weight: 400;
  font-size: 1.55rem;
}
.header__nav-link:last-of-type {
  padding-right: 0;
}
.header__nav-link:first-of-type {
  padding-left: 0;
}

.header__nav-link:hover {
  color: #302e2d;
}

.header__nav-link > svg {
  color: #0082e6;
  margin-right: 0.9rem;
}

.header__nav-link .bi-caret-down-fill {
  color: #565656;
  margin-left: 0.4rem;
  margin-right: 0;
}

.header__nav-detail {
  width: 27rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: absolute;
  top: 5.5rem;
  right: 0;
  background: #f7f7f7;
  border-radius: 0.4rem;
  box-shadow: 0 2px 20px 0 hsla(0, 0%, 0%, 0.15);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
}

.header__nav-item:hover .header__nav-detail {
  opacity: 1;
  pointer-events: all;
  transition: inherit;
  transform: translateY(-0.5rem);
}

.header__nav-detail .products-divider {
  margin: 0.5rem 0;
}

.header__nav-detail--title {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.header__nav-detail--item {
  display: flex;
  align-items: center;
  max-height: 3.35rem;
}

.header__nav-detail--link {
  font-size: 1.5rem;
  color: #302e2d;
  margin: 0.5rem 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__nav-detail--item > p {
  margin-left: 2rem;
  font-size: 1.2rem;
  line-height: 1.4;
}

.header__nav-detail--item > svg {
  font-size: 5rem;
  color: #3065d0;
}

.btn-header {
  font-size: 1.5rem;
  padding: 0.6rem 2.35rem;
}

/* BASKET TEMPORARY STYLES */

.header__nav-counter {
  position: absolute;
  top: 0.8rem;
  left: 1.5rem;
  background: linear-gradient(
    to right,
    hsl(352.9, 60%, 52.9%),
    hsl(358, 99.1%, 58.6%)
  );
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50rem;
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: 700;
}

.header__nav-counter > span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-detail--item .btn-detail {
  width: 100%;
  padding: 0.7rem;
}

.header__nav-detail--item .btn-detail .red {
  padding: 0.7rem 1.5rem;
}

.header__nav-detail--item .btn-detail > span {
  font-size: 1.5rem;
}

.header__nav-item .basket {
  width: 20rem;
}

.header__nav-item .basket .header__nav-detail--item {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0.2rem 0;
}

.header__nav-item .basket .header__nav-detail--item > p {
  margin: 0;
  margin-bottom: 0.7rem;
}

.header__nav-detail--item p > span {
  font-weight: 700;
}

/* end BASKET TEMPORARY STYLES */

.header__menu {
  background: linear-gradient(
    to right,
    hsl(357.9, 100%, 55.7%) 5%,
    hsl(310.9, 52.4%, 41.2%) 35%,
    hsl(268.8, 43.9%, 44.7%) 45%,
    hsl(230, 54.1%, 52.2%) 55%,
    hsl(206.1, 100%, 45.1%) 70%
  );
  /* padding: 0.3rem 0; */
  height: 34%;
}

.header__menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__auxiliary {
  display: flex;
}

.header__auxiliary-item {
  list-style: none;
  margin: 0 0.2rem;
}

.header__auxiliary-link,
.header__help {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.35rem;
}

.header__help > svg {
  font-size: 1.9rem;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 847px) {
  .page {
    grid-template-rows: 7rem 1fr 23rem;
  }
  .header {
    height: 7.5rem;
  }
  .header__menu {
    width: 100%;
    height: 0.5rem;
  }
  .header__auxiliary {
    display: none;
  }
  .header__help {
    display: none;
  }
  .header-container {
    height: 94%;
  }
}

@media only screen and (max-width: 460px) {
  .header__nav-link > span {
    display: none;
  }
}

/****************/
/* MAIN Styles */
/**************/

.main {
  grid-area: main;
  width: 100%;
  background: #ededed;
}

/* HERO SECTION */

.hero {
  background: hsl(35.3, 99.2%, 47.5%);
  height: 30rem;
  width: 100%;
}

.hero__inner {
  display: flex;
  align-items: center;
  background: url(../img/80268.jpg) no-repeat center center / cover;
  width: 100%;
  height: 100%;
}

.hero__inner > a {
  text-decoration: none;
  margin-left: 7rem;
}

/* STORE SECTION */

.store__products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30.4rem, 1fr));
  gap: 0.8rem;
  width: 100%;
  margin: 1.5rem 0;
}

.store__products-item {
  list-style: none;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 35rem;
  align-items: center;
  background: #ffffff;
  padding: 1rem;
  border-radius: 0.3rem;
}

.product__badge {
  position: absolute;
  top: 1rem;
  left: -0.3rem;
  width: 6.75rem;
  height: 3rem;
  background: hsl(15.5, 100%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #ffffff;
  box-shadow: 0 2px 6px -2px hsla(0, 0%, 0%, 0.35);
  border-radius: 0.3rem;
}

.product__image {
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.product__image > img {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
}

.product__title {
  height: 5.15rem;
  text-decoration: none;
  text-align: center;
  color: #302e2d;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.product__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
}

.product__rating > a {
  color: #302e2d;
  text-decoration: none;
  font-size: 1.4rem;
  margin-left: 0.35rem;
}

.product__rating > a:hover {
  color: #3065d0;
}

.product__rating-stars > svg {
  color: #f9bf3b;
  font-size: 1.75rem;
  padding: 0 0.1rem;
}

.product__price {
  height: 4.35rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #f02809;
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.product__price-discount {
  font-size: 1.6rem;
  color: #999;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.product__price-discount > span {
  font-weight: 400;
  color: #302e2d;
  text-decoration: line-through;
}

.product__more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%;
}

.product__detail {
  font-size: 1.5rem;
  text-decoration: none;
  width: 57%;
  max-width: 20rem;
  padding: 0.9rem 3rem;
  margin-right: 0.2rem;
}

.product__basket {
  background: hsl(358, 99.1%, 58.6%);
  background-image: linear-gradient(
    to right,
    hsl(352.9, 60%, 52.9%),
    hsl(358, 99.1%, 58.6%)
  );
  padding: 0.6rem 1.35rem 0.3rem 1.35rem;
}

.product__basket:hover {
  background-image: linear-gradient(
    to right,
    hsl(352.9, 60%, 52.9%),
    hsl(358, 99.1%, 58.6%)
  );
}

/* Newsletter section */

.newsletter {
  width: 100%;
  margin-top: 9rem;
  margin-bottom: 2rem;
}

.newsletter-container {
  display: flex;
  height: 28.5rem;
  background: linear-gradient(
    to right,
    hsl(357.9, 100%, 55.7%) 5%,
    hsl(310.9, 52.4%, 41.2%) 35%,
    hsl(268.8, 43.9%, 44.7%) 45%,
    hsl(230, 54.1%, 52.2%) 55%,
    hsl(206.1, 100%, 45.1%) 70%
  );
}

.newsletter__image {
  transform: translateY(-4.2rem);
}

.newsletter__content {
  color: #ffffff;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.newsletter__title {
  font-size: 3.3rem;
  font-weight: 500;
  line-height: 4.5rem;
}

.newsletter__agreement {
  font-size: 1.3rem;
  margin-bottom: 3.5rem;
}

.newsletter__form {
  display: flex;
  width: 100%;
}

.newsletter__form-field {
  display: block;
  width: 30%;
  margin: 0 0.5rem;
  padding: 0.9rem;
  color: hsl(0, 0%, 60%);
  background: hsl(0, 0%, 99.6%);
  border: 0.1rem solid hsl(0, 0%, 80%);
  border-radius: 50rem;
  outline: none;
}

.newsletter__error {
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.newsletter__btn {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  background: hsl(8.1, 92.7%, 48.6%);
  border-color: hsl(8.1, 92.7%, 48.6%);
  cursor: pointer;
  outline: none;
}

.newsletter__btn:hover {
  background: hsl(8.2, 92.9%, 38.6%);
  border-color: hsl(8.2, 92.9%, 38.6%);
}

@media only screen and (max-width: 1180px) {
  .newsletter {
    margin-top: 5rem;
  }
  .newsletter-container {
    background: hsl(206.1, 100%, 45.1%) 70%;
  }
  .newsletter__image {
    display: none;
  }
}

@media only screen and (max-width: 715px) {
  .newsletter-container {
    height: 33rem;
  }
  .newsletter__form {
    flex-direction: column;
    width: 100%;
  }
  .newsletter__form-field {
    margin: 0.5rem;
    width: 95%;
  }
}

@media only screen and (max-width: 575px) {
  .newsletter__title {
    font-size: 2.9rem;
    line-height: 3.2rem;
  }

  .newsletter__agreement {
    margin-bottom: 1.5rem;
  }
}

/******************/
/* FOOTER Styles */
/****************/

.footer {
  grid-area: footer;
  width: 100%;
  background: #ededed;
  padding: 1rem 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #999;
}

.footer__menu {
  list-style: none;
  margin-bottom: 1rem;
}

.footer__menu-title {
  color: #3065d0;
  font-size: 2.25rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.5rem;
}

.footer__menu-item {
  margin: 0.9rem 0;
}

.footer__menu-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #777;
}

.footer__menu-link:hover {
  text-decoration: underline;
}

.footer__copyright {
  font-size: 1.5rem;
  font-weight: 500;
  color: #777;
  text-align: center;
  margin: 1.5rem 0;
}

@media only screen and (max-width: 570px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 93%;
  }

  .page {
    grid-template-rows: 7rem 1fr 55rem;
  }
}
