/***********/
/* RESETS */
/*********/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/******************/
/* GLOBAL Styles */
/****************/

html {
	font-size: 62.5%;
}

body {
	height: 100vh;
	font: 1.6rem 'Roboto', sans-serif;
	color: #302e2d;
}

.page {
	display: grid;
	grid-template-areas:
		'header'
		'main'
		'footer';
	grid-template-columns: 1fr;
	grid-template-rows: 12.5rem 1fr 23rem;
	height: 100%;
}

/*******************/
/* UTILITY Styles */
/*****************/

.btn {
	padding: 0.5rem 1.6rem;
	border: 1px solid transparent;
	outline: none;
	background: transparent;
	color: transparent;
}

.btn:hover {
	border: 0.1rem solid #ffffff;
	border-radius: 5rem;
}

.cta {
	color: #302e2d;
	padding: 1.2rem 1.6rem;
	background: #ffffff;
	border-radius: 0.4rem;
}

.cta:hover {
	color: #0082e6;
}

.wrapper {
	max-width: 1260px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

/*****************/
/* HEADER Syles */
/***************/

.header {
	grid-area: header;
	width: 100%;
	background: #ffffff;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #302e2d;
	height: 68%;
}

.header__branding {
	display: inline-block;
	height: 3.6rem;
}

.header__branding > img {
	width: 13rem;
	object-fit: contain;
}

.header__nav-container {
	display: block;
}

.header__nav {
	display: flex;
}

.header__nav-item {
	margin: 1rem 1rem;
	list-style: none;
}

.header__nav-link {
	display: flex;
	align-items: center;
	padding: 0.2rem 0.6rem;
	text-decoration: none;
	color: #565656;
	font-weight: 400;
	font-size: 1.55rem;
}

.header__nav-link:hover {
	color: #302e2d;
}

.header__nav-link > svg {
	color: #0082e6;
	margin-right: 0.9rem;
}

.header__nav-link .bi-caret-down-fill {
	color: #565656;
	margin-left: 0.4rem;
}

.header__menu {
	background: linear-gradient(
		to right,
		hsl(357.9, 100%, 55.7%) 5%,
		hsl(310.9, 52.4%, 41.2%) 35%,
		hsl(268.8, 43.9%, 44.7%) 45%,
		hsl(230, 54.1%, 52.2%) 55%,
		hsl(206.1, 100%, 45.1%) 70%
	);
	height: 32%;
}

.header__menu-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header__auxiliary {
	display: flex;
}

.header__auxiliary-item {
	list-style: none;
	margin: 0 0.2rem;
}

.header__auxiliary-link,
.header__help {
	text-decoration: none;
	color: #ffffff;
	font-size: 1.4rem;
}

/****************/
/* MAIN Styles */
/**************/

.main {
	grid-area: main;
	width: 100%;
	background: #ededed;
}

/* HERO SECTION */

.hero {
	background: hsl(35.3, 99.2%, 47.5%);
	height: 30rem;
	width: 100%;
}

.hero__inner {
	display: flex;
	align-items: center;
	background: url(../img/80268.jpg) no-repeat center center / cover;
	width: 100%;
	height: 100%;
}

.hero__inner > a {
	text-decoration: none;
	margin-left: 7rem;
}

/* STORE SECTION */

.store__products {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30.4rem, 1fr));
	gap: 0.8rem;
	width: 100%;
	margin: 1.5rem 0;
}

.store__products-item {
	list-style: none;
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #ffffff;
	padding: 1rem;
	border-radius: 0.3rem;
}

.product__image {
	margin: 0.5rem;
	margin-bottom: 1.5rem;
}

.product__image > img {
	width: 15rem;
	height: 15rem;
	object-fit: contain;
}

.product__title {
	text-decoration: none;
	text-align: center;
	color: #302e2d;
	font-weight: 700;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

.product__price {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 1rem;
	color: #f02809;
	font-weight: 700;
	font-size: 2.2rem;
	margin-bottom: 2rem;
}

.product__price-discount {
	font-size: 1.6rem;
	color: #999;
	font-weight: 700;
	margin-bottom: 0.2rem;
}

.product__price-discount > span {
	font-weight: 400;
	color: #302e2d;
	text-decoration: line-through;
}

.product__basket {
	font-size: 1.5rem;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	background: linear-gradient(
		to right,
		hsl(228.9, 49%, 52.4%) 10%,
		hsl(212.7, 72.9%, 55.1%)
	);
	border-radius: 0.5rem;
	padding: 1rem;
	width: 70%;
	margin-bottom: 0.5rem;
	overflow: hidden;
}

.product__basket:hover {
	background: linear-gradient(
		to right,
		hsl(228.9, 54.8%, 42.5%) 10%,
		hsl(212.7, 72.3%, 45.3%)
	);
}

/******************/
/* FOOTER Styles */
/****************/

.footer {
	grid-area: footer;
	width: 100%;
	background: #ededed;
	padding: 1rem 0;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	border-bottom: 0.1rem solid #999;
}

.footer__menu {
	list-style: none;
	margin-bottom: 1rem;
}

.footer__menu-title {
	color: #3065d0;
	font-size: 2.25rem;
	letter-spacing: 0.1rem;
	margin-bottom: 1.5rem;
}

.footer__menu-item {
	margin: 0.9rem 0;
}

.footer__menu-link {
	font-size: 1.5rem;
	text-decoration: none;
	color: #777;
}

.footer__menu-link:hover {
	text-decoration: underline;
}

.footer__copyright {
	font-size: 1.5rem;
	font-weight: 500;
	color: #777;
	text-align: center;
	margin: 1.5rem 0;
}
